
body {
  background-color: #fffed1 !important;
}

#title1 {
  font-family: 'Allura', cursive;
  margin-top: 50px;
  font-size: 4em;
}

.session-time {
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff !important;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.action-buttons {
  padding: 10px;
  margin: 20px;
  margin-top: 10px;
}

.break-time {
  border-radius: 20px;
  padding: 10px;
  background-color: #fff !important;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#num, 
#breakNum {
  display: inline;
  margin: 10px;
}

#minusMins,
#plusMins, 
#minusBreak,
#plusBreak {
  margin-bottom: 10px;
}

#start,
#stop {
  display: inline;
  margin-right: 20px;
}

img {
  width: 40%;
  margin-top: 70px;
}

#footer {
  margin-top: 20px;
  margin-bottom: 50px;
}

#footer p {
  margin: 0px;
  text-decoration: none !important;
  outline: none !important;
  color: #000;
}

footer p a,
footer p a:active,
footer p a:visited {
  color: green;
}

footer p a:hover {
  color: #195b16;
  margin-left: 10px;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none !important;
  outline: none !important;
}

.btn,
.btn:hover,
.btn:active,
.btn:visited {
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
  color: #fff;
}

.btn-lg,
.btn-lg:hover,
.btn-lg:active,
.btn-lg:visited {
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
  color: #fff;
}

@media (min-device-width : 320px) and (max-device-width : 768px)  { 

  #title1 {
  margin-top: 80px;
  font-size: 8em;
  }

  .session-time {
  padding: 50px;
  width: 100%;
  }

  .session-time h2 {
    font-size: 5em;
  }

  .session-time p,
  .session-time a {
    font-size: 3em;
  }

 .action-buttons {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 20px;
  margin-top: 10px;
  }

  .action-buttons a {
    font-size: 3em;
    padding: 40px 200px;
    margin-bottom: 20px;
  }

  #start,
  #stop,
  #reset {
  display: block;
  margin-right: 20px;
  }

 .break-time {
  padding: 50px;
  width: 100%;
  }

  .break-time h2 {
    font-size: 5em;
  }

  .break-time p,
  .break-time a {
    font-size: 3em;
  }

  #num, 
  #breakNum {
  margin: 30px;
  }

 .btn {
  width: 20%;
  height: 20%;
  }

  img {
  width: 60%;
  }

  #footer p {
  font-size: 3em;
  }

}



