
.session-time {
  border: 2px #000 solid;
  margin: 10px 300px;
  padding: 10px;
}

.action-buttons {
  margin: 10px 300px;
  padding: 10px;
}

.break-time {
  border: 2px #000 solid;
  margin: 10px 300px;
  padding: 10px;
}

h2 {
  display: inline;
}

#num,
#breakNum {
  margin: 10px;
}

#minusMins,
#plusMins, 
#minusBreak,
#plusBreak {
  margin-bottom: 10px;
}

#start,
#reset,
#stop {
  display: inline;
  margin-right: 20px;
}

.action-buttons {
  margin-top: 10px;
}

#start {
  margin-top: 10px;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none !important;
  outline: none !important;
}